:root {
    --color-accent: #5f9ce2;
    --color-text: #1c1c1e;
    --color-background: #cacaea;
    --color-accent-background: #f5f5f7;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, Ubuntu, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    inset: 0;
    color: var(--color-text);
    background-color: var(--color-background);
}

.transition {
    width: 100%;
    display: block;
}

.fullheight {
    height: 100dvh;
}

.halfheight {
    height: 50dvh;
}

.fiveunit {
    height: 5rem;
}

.sensitive {
    direction: rtl;
    unicode-bidi: bidi-override;
    user-select: none;
    cursor: default;
}

.sensitive-no {
    color: transparent;
    margin: 0;
    padding: 0;
    font-size: 0.5em;
}